<form>
  <div class="form-group">
    <label>カテゴリー</label>
    {{!-- あとで追加する --}}
  </div>
  <div class="form-group">
    <label>タイトル</label>
    <input class="form-control" id="input-title" type="text" name="title">
  </div>
  <div class="form-group">
    <label>スタイル</label>
    <textarea class="form-control" id="input-style" rows="20" name="style"></textarea>
  </div>
  <div class="form-group">
    <input class="submit-style-form btn btn-primary" type="submit" value="送信">
  </div>
</form>
