<form role="form">
  <div class="form-group">
    <label for="input-note-title">タイトル</label>
    <input class="form-control" id="input-note-title" type="text" name="note[title]", value="{{title}}">
  </div>
  <div class="form-group">
    <label for="input-note-raw_body">本文（Markdown）</label>
    <textarea class="form-control" id="input-note-raw_body" rows="20" name="note[raw_body]">{{raw_body}}</textarea>
  </div>
  <div class="form-group">
    <input class="submit-note-form btn btn-primary" type="submit" value="送信">
  </div>
</form>
